* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "karla", serif;
    margin: 0;
    height: 100vh;
    padding: 40px;
    background-color: #0B2434;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 640px;
    width: 640px;
    min-height: 320px;
    min-width: 320px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.diceContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 200px;
    place-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rollButton {
    font-family: "karla", serif;
    font-weight: 700;
    font-size: 1.2rem;
    white-space: nowrap;
    width: auto;
    padding: 10px 20px;
    color: white;
    background-color: #5035FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title {
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.instructions {
    font-weight: 400;
    margin-top: 0;
    width: 70%;
    text-align: center;
}